@inherits LayoutComponentBase
<SpotifyContainer>
	<div class="page">
		<AuthorizeView>
			<NavBar />
		</AuthorizeView>
		<div class="page-wrapper">
			<div class="page-body">
				<div class="container-xl">
					@Body
				</div>
			</div>
		</div>
		<Footer />
	</div>
</SpotifyContainer>

@* <div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div> *@